<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="intro-message">
          <h1>ヒアリマップ(β)</h1>
          <hr class="intro-divider">
          <h2>ヒアリから大切な人を守ろう！</h2>
          <p><%= link_to "ヒアリ情報を投稿する", new_hiari_path, class: "btn btn-info opa" %></p>
          <br>
          <ul class="list-inline sns">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hiarimap.site">Tweet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<small>出典:https://academist-cf.com</small>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>現在の目撃情報</h2>
      <hr/>
      <table class="table table-bordered">
        <tr class="active">
          <th>投稿日時</th>
          <th>目撃日時</th>
          <th>信頼度</th>
          <th>目撃住所</th>
        </tr>
        <% @hiari_chokkin.each do |hiari| %>
          <tr <%= raw 'class="bg-warning"' if new? hiari.created_at %>>
            <td><%= simple_time hiari.created_at %></td>
            <td><%= simple_time hiari.discover_ari_date %></td>
            <td><%= convert2Reliability hiari.reliability %></td>
            <td><%= hiari.address %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="map_canvas" style='width: 100%; height: 600px;'></div>
    </div>
  </div>
</div>

<div id="map_script">
  <script>
    var markerList = <%= raw @hash.to_json %>
  </script>
</div>